<style type="text/css">
	.wrap{padding:20px 0;padding-top:100px;background-color: #fff;}
	.wrap .field-wrap{padding:10px 0;}
	.submit-btn{width:80%;}
</style>
<div class="wrap">
	<form class="tc" action="/register" method="post">
		<div class="field-wrap">
			<label>账号：</label>
			<input type="text" name="username">
		</div>
		<div class="field-wrap">
			<label>密码：</label>
			<input type="password" name="pwd">
		</div>
		<div class="blank10"></div>
		<div class="field-wrap">
			<input class="submit-btn" type="submit" value="注册">
		</div>
	</form>
</div>