<style type="text/css">
	html{background-color: #fff;}
	.game-wrap{position: relative;}
	.planted-tree{position: absolute;width:70%;bottom:18%;left: 15%;}
	.tab-wrap{font-size: 0;}
	.tab-wrap .tab{position: relative; line-height: 2.5rem; font-size: 1rem;}
	.tab-wrap .tab.active{border-bottom: 1px solid #008710;color: #008710;}
	.nav-tips{display:block;position: absolute;right:25%;top:0.5rem; background-color: red;width: 0.5rem;height: 0.5rem;border-radius: 100%;}
	.activity-rule{display: inline-block; position: absolute;top:0; left:0;padding: 1rem;}
	.tips{display: block; position: absolute;top:2.2rem; left:0;padding: 0rem;}
	.water{position: absolute;display: inline-block;left:70%;top:4rem;width:6rem;z-index: 2;0}
	.water .bottle{position: absolute; right:0;width:3rem;}
	.water .water-drops{position: absolute; width:2rem;top:2rem;left:1.8rem;_opacity: 0;}
	.no-record{padding: 2rem 0;text-align: center;}

	/*fruit*/
	.fruit{position: absolute; width: 2rem;}
	.fruit-1{width: 1.5rem;}
	.fruit-2{width: 2rem;}
	.fruit-3{width: 2.5rem;}
	.fruit-4{width: 3rem;}
	.fruit-5{width: 3.5rem;}
	.fruit-p1{left: 10.5rem;top: 1.6rem;}
	.fruit-p2{left: 13rem;top: 3rem;}
	.fruit-p3{left: 6.5rem;top: 5rem;}
	.fruit-p4{left: 14rem;top: 8rem;}
	.fruit-p5{left: 0.7rem;top: 9rem;}

	.grap-hand{position:absolute;width:2rem;top:1rem;left:01rem;z-index: 1;}

	.fruit-hp{position: absolute;left:1.5rem;top:-0.5rem;height:0.5rem;min-width:2rem;background-color: #fff;border: 1px solid #008710;border-radius: 0.8rem;overflow: hidden;font-size: 0;}
	.fruit-hp .hp-value{display: inline-block;height: 100%;/*width:0.5rem;*/ background-color: #c1eaaa;font-size: 0;float:left;border-right:1px solid #fff;}
	.fruit-hp .hp-value:last-child{border-right: none;}
	.fruit-hp .hp-value.active{background-color: #4a8300;}
	.hp-1 span{width: 100%;}
	.hp-2{width: 3rem;}
	.hp-2 span{width: 50%;}
	.hp-3{width: 4rem;}
	.hp-3 span{width: 25%;}
	.hp-4{width: 4rem;}
	.hp-4 span{width: 16.6666666666666%;}
	.hp-5{width: 4rem;}
	.hp-5 span{width: 12.5%;}



	/*bottom-tool*/
	.bottom-tool{position: absolute;right:0;bottom:0;padding: 0.5rem 1rem;}
	.gift-box{width: 2.5rem;padding-right: 0.8rem;}
	.bottle-box{width:7rem;}
	.bottle-info{position: absolute;width: 1.2rem;height: 1.2rem;line-height: 1.1rem;background-color: red; color:#fff;font-size: 0.7rem;border: 1px solid #fff;border-radius: 50%;right:0.8rem;top:-0.2rem;}


	/*list*/
	.list .item{padding: 0.5rem 0.5rem;line-height: 2.5rem;}
	.list .item span{margin-left:0.5rem;}
	.avator{width:2rem;height:2rem;border: 1px solid #209f20;border-radius: 50%;overflow: hidden;}

	/*pop-box*/
	.pop-box{position: fixed;top:0;left:0;width:100%;height:100%;background-color: rgba(0,0,0,0.7);z-index: 10;}
	.pop-box > .body{position: relative; margin-top:5rem; text-align: center;
		position: absolute;left:50%;top:50%;width:100%;
		margin-left:-12.5rem;
		margin-top:-15rem;
		/*-webkit-transform: translateX(-50%,-50%);
		transform: translate(-50%,-50%);*/
	}

	.pop-box > .body > img{width:80%;}
	.pop-box > .body .info{position: absolute;bottom:4.3rem;left:0;width:100%;text-align: center;}
	.operation{position: absolute;bottom:0;left:0;width:100%;}
	.operation .btn{width:6.5rem;margin:1rem 0.8rem;}

	.bottom-nav{text-align: center;}
	.bottom-nav .btn{width:40%;}

	.avatar-wrap{
		max-width: 14rem;
		height: 2.5rem;
		overflow: hidden;
	}
	.avatar{display: inline-block;position: relative; width:2.5rem;height:2.5rem;margin: 0 0.2rem; border: 1px solid #209f20;border-radius: 50%;overflow: hidden;}
	.avatar-water{position: absolute;width: 1rem;display: inline-block;right:0rem;top:0rem;}

	.trangle{position: absolute;bottom:0;left:2rem;width:0;height:0;border:1rem solid rgba(0,0,0,0);border-bottom-color: #fff;}
</style>
<div id="app" class="none">
	<div class="game-wrap">
		<a class="activity-rule color-fff f1" href="/rule/2">活动规则</a>
		<!-- <span class="tips w-100 tc">果子尚未成熟~需要继续浇水哦</span> -->
		<div class="water none">
			<img class="bottle" src="../public/img/bottle.png">
			<img class="water-drops animated flash none" src="../public/img/water_drops.png">
		</div>
		<img class="w-100 block" src="../public/img/main_bg.png" onload="mainTreeLoaded()">
		<div class="planted-tree">
			<img class="w-100 inline-block" src="../public/img/main_tree.png">
			<div class="fruit fruit-1 fruit-p1 none">
				<!-- <div class="fruit-hp hp-1">
					<span class="hp-value active"></span>
				</div> -->
				<img class="w-100" src="../public/img/fruit.png">
			</div>
			<div class="fruit fruit-2 fruit-p2 none">
				<!-- <div class="fruit-hp hp-1">
					<span class="hp-value active"></span>
				</div> -->
				<img class="w-100" src="../public/img/fruit.png">
			</div>
			<div class="fruit fruit-3 fruit-p3 none">
				<!-- <div class="fruit-hp hp-1">
					<span class="hp-value active"></span>
				</div> -->
				<img class="w-100" src="../public/img/fruit.png">
			</div>
			<div class="fruit fruit-4 fruit-p4 none">
				<!-- <div class="fruit-hp hp-1">
					<span class="hp-value active"></span>
				</div> -->
				<img class="w-100" src="../public/img/fruit.png">
			</div>
			<div class="fruit fruit-5 fruit-p5 none">
				<!-- <div class="fruit-hp hp-1">
					<span class="hp-value active"></span>
				</div> -->
				<img class="w-100" src="../public/img/fruit.png">
			</div>
		</div>
		<div class="bottom-tool">
			<div class="bottle-box inline-block" @click="water">
				<div class="bottle-info tc">0</div>
				<img class="w-100" src="../public/img/help_water_bottle.png">
			</div>
		</div>
		<div class="trangle"></div>
	</div>
	<!-- <img class="w-100" style="margin-top:-2px;" src="../public/img/help_water_bottom.png"> -->
	<div class="bg-fff" style="padding:0.7rem 0rem 0.5rem 0.5rem;border-bottom: 0.5rem solid #f4f4f4;">
		<span class="vm f1 color-666">已有<span id="total-count">{{ water_log.total }}</span>位好友送Ta浇水次数</span>
		<span class="avatar-wrap vm inline-block tr" style="_height: 3rem;">
			<span class="inline-block pr" v-for="log in water_log.log_list">
				<span class="avatar bg-cover" v-bind:style="{backgroundImage: 'url(' + (log.avatar_url || '../public/img/fruit.png') + ')'}">	
				</span>
				<img class="avatar-water" src="/public/img/bottle_ico.png">
			</span>
		</span>

	</div>
	<div class="bottom-nav">

		<!-- <a v-if="user_info.is_received_tree" class="btn inline-block" href="/"><img class="w-100" style="margin-top:3rem;" src="../public/img/my_tree_btn.png"></a>
		<br>
		<br> -->
		<br>
		<br>
		<a class="btn inline-block" style="margin-top:1rem;" href="/get-tree"><img class="w-100" src="../public/img/i_plant_tree_btn.png"></a>
	</div>
</div>
<script type="text/javascript" src="/public/js/libs/vue.js"></script>
<script type="text/javascript">
	$(function(){	
		var app = new Vue({
		  el: '#app',
		  data: {
		    open_id: '<%= open_id %>',
		    f_user_id: '<%= f_user_id %>',
		    user_info: {},
		    f_user_info: null,
		    hasWater: false,
		    water_log:{
		    	total: 0,
		    	log_list: []
		    }
		  },	
		  created: function(){
		  	this.init();
		  },
		  methods: {
		  	init: function(){
		  		self = this;
		  		// 获取用户信息
		  		this.getUserInfo();

		  		var time = setInterval(function(){
		  			//console.log(this.user_info);
		  			if(self.user_info && self.f_user_info){
		  				self.checkWater();
				  		clearInterval(time);
		  			}
		  		},100);

		  		this.getWaterLog();

		  	},
		  	checkWater: function(callback){
		  		var self = this;
  				var post_data = {act:'has_water', user_id: self.user_info.user_id, t_user_id:self.f_user_info.user_id};
  				console.log(post_data);
		  		api_post('', post_data,function(ret){
		  			console.log('是否给好友浇过是水');
		  			console.log(ret);
		  			if(ret.has_water){
		  				$('.bottle-info').text('0');
		  				self.hasWater = true;
		  				if(callback) callback();
		  			}else{
		  				$('.bottle-info').text('1');
		  				self.hasWater = false;
		  				if(callback) callback();
		  			}
		  		});
		  	},
		  	getUserInfo: function(callback){
		  		var self = this;
		  		var post_data = {act:'get_user_info', open_id: this.open_id, share_user_id: this.f_user_id};
		  		log('分享获取用户信息：');
		  		log(post_data);
		  		api_post('',post_data,function(ret){
		  			console.log('>>>>>>>>>>>>>>>>');
					console.log(ret);
					self.user_info = ret.user_info;
					
				});	

				api_post('',{act: 'get_user_info', user_id: this.f_user_id},function(ret){
		  			console.log('>>>>>>>>>>>>>>>>');
					console.log(ret);
					self.f_user_info = ret.user_info;
					
				});	
		  	},
		  	getWaterLog: function(){
		  		var self = this;
  				api_post('',{act: 'get_water_log', user_id: this.f_user_id},function(ret){
  		  			console.log('朋友的浇水记录');
  					console.log(ret);
  					self.water_log = ret;
  					
  				});	
		  	},
		  	
		  	// 浇水
		  	water: function() {
				//this.openPopBox(1, '恭喜哦你');
				self = this;
				this.checkWater(function(){
					if(self.hasWater || $('.bottle-info').text() == '0'){
						dialog.error('已给好友浇过水,请明天再来浇！');
					}
					if(!self.hasWater){
						api_post('', {act: 'water',user_id: self.user_info.user_id, t_user_id: self.f_user_info.user_id, fruit_id: 1}, function(ret){
							// 浇水结果
							console.log('浇水结果:');
							console.log(ret);
							if(ret.status == 1){
								$('.bottle-info').text('0');
								self.waterAnimate(function(){
										//self.getFruitList();
									if(ret.show_err) dialog.success(ret.show_err);

									var index = GetRandomNum(1, 5);
									$('.fruit-' + index).removeClass('none').addClass('animated bounceIn');
									// self.getUserInfo(function(){
										
									// });
									
								});
								var html = '<span class="inline-block pr">\
												<span class="avatar bg-cover" style="background-image: url('+ self.user_info.avatar_url +')">\
												</span>\
												<img class="avatar-water" src="/public/img/water_bottle.png">\
											</span>';
								$('.avatar-wrap').prepend(html);
								$('#total-count').text(parseInt($('#total-count').text()) + 1);
							}
						});
					}
				});
		  	},
		  	waterAnimate: function(callback) {
		  		$('.water').removeClass('none').children('.bottle').addClass('rotate');

		  		setTimeout(function(){
		  			$('.water').children('.water-drops').removeClass('none').addClass('flash');
		  		},1000);

		  		setTimeout(function(){
		  			$('.water').addClass('none').children('.bottle').removeClass('rotate');
		  			$('.water').children('.water-drops').addClass('none').removeClass('flash');

		  			if(callback) callback();
		  		},3000);
		  	},
		  	
		  }

		})
	});

	function mainTreeLoaded(){
		$('#app').removeClass('none');
	}
	function GetRandomNum(Min,Max){   
		var Range = Max - Min;   
		var Rand = Math.random();   
		return(Min + Math.round(Rand * Range));   
	}   
</script>