<style type="text/css">

	.game-wrap{position: relative;}
	.planted-tree{position: absolute;width:70%;bottom:18%;left: 15%;}
	.tab-wrap{font-size: 0;}
	.tab-wrap .tab{position: relative; line-height: 2.5rem; font-size: 1rem;-webkit-transition: all 0.2s;transition: all 0.2s;}
	.tab-wrap .tab.active{border-bottom: 1px solid #008710;color: #008710;}
	.nav-tips{display:block;position: absolute;right:25%;top:0.5rem; background-color: red;width: 0.5rem;height: 0.5rem;border-radius: 100%;}
	.activity-rule{display: inline-block; position: absolute;top:0; left:0;padding: 1rem;}
	.tips{display: block; position: absolute;top:2.2rem; left:0;padding: 0rem;}
	.water{position: absolute;display: inline-block;left:70%;top:4rem;width:6rem;z-index: 2;0}
	.water .bottle{position: absolute; right:0;width:3rem;}
	.water .water-drops{position: absolute; width:2rem;top:2rem;left:1.8rem;_opacity: 0;}

	.no-record{padding: 2rem 0;text-align: center;}

	/*fruit*/
	.fruit{position: absolute; width: 2rem;}
	.fruit-1{width: 1.5rem;}
	.fruit-2{width: 2rem;}
	.fruit-3{width: 2.5rem;}
	.fruit-4{width: 3rem;}
	.fruit-5{width: 3.5rem;}
	.fruit-p1{left: 10.5rem;top: 1.6rem;}
	.fruit-p2{left: 13rem;top: 3rem;}
	.fruit-p3{left: 6.5rem;top: 5rem;}
	.fruit-p4{left: 14rem;top: 8rem;}
	.fruit-p5{left: 0.7rem;top: 9rem;}

	.grap-hand{_display: none; position:absolute;width:1.3rem;top:1rem;left:1rem;z-index: 1;-webkit-transition: all 1s;transition: all 1s;}

	.fruit-hp{position: absolute;left:1.5rem;top:-0.5rem;height:0.5rem;min-width:2rem;background-color: #fff;border: 1px solid #008710;border-radius: 0.8rem;overflow: hidden;font-size: 0;}
	.fruit-hp .hp-value{display: inline-block;height: 100%;/*width:0.5rem;*/ background-color: #c1eaaa;font-size: 0;float:left;border-right:1px solid #fff;}
	.fruit-hp .hp-value:last-child{border-right: none;}
	.fruit-hp .hp-value.active{background-color: #4a8300;}
	.hp-1 span{width: 100%;}
	.hp-2{width: 3rem;}
	.hp-2 span{width: 50%;}
	.hp-3{width: 4rem;}
	.hp-3 span{width: 25%;}
	.hp-4{width: 4rem;}
	.hp-4 span{width: 20%;}
	.hp-5{width: 5rem;}
	.hp-5 span{width: 10%;}

	.fruit-complete-ico{
		display: block;
		width:40%;
		position: absolute;
		right:0;
		top:0;
		z-index: 2;
	}

	/*bottom-tool*/
	.bottom-tool{position: absolute;right:0;bottom:0;padding: 0.5rem 1rem;}
	.gift-box{width: 2.5rem;padding-right: 0.8rem;}
	.bottle-box{width:5rem;}
	.bottle-info{position: absolute;_width: 1rem;height: 1rem;padding: 0 0.3rem;line-height: 1rem;background-color: red; color:#fff;font-size: 0.6rem;border: 1px solid #fff;border-radius: 50%;right:0.8rem;top:-0.2rem;}


	/*list*/
	.list .item{padding: 0.5rem 0.5rem;line-height: 2.5rem;}
	.list .item span{margin-left:0.5rem;}
	.avator{width:2rem;height:2rem;border: 1px solid #209f20;border-radius: 50%;overflow: hidden;}
	.nick-name{display: inline-block;max-width:8rem;}
	.nick-name-info{display: inline-block;max-width:17rem;margin-left:0 !important;vertical-align: middle;}
	/*pop-box*/
	.pop-box{position: fixed;top:0;left:0;width:100%;height:100%;background-color: rgba(0,0,0,0.7);z-index: 10;}
	.pop-box > .body{position: relative; margin-top:5rem; text-align: center;
		position: absolute;left:50%;top:50%;width:100%;
		margin-left:-13.4rem;
		margin-top:-15rem;
		/*-webkit-transform: translateX(-50%,-50%);
		transform: translate(-50%,-50%);*/
	}

	.pop-box > .body > img{width:80%;}
	.pop-box > .body .info{position: absolute;bottom:4.3rem;left:0;width:100%;text-align: center;}
	.operation{position: absolute;bottom:0;left:0;width:100%;}
	.operation .btn{width:6.5rem;margin:1rem 0.8rem;}

	.add-water{position: absolute; right: 2rem; top: -1rem;color:green;font-size: 1.5rem;text-shadow: 0 0 2px #fff;}

	.loader{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#000;z-index:100000}
	.loader-bar{position:absolute;top:48%;left:50%;width:200px;height:6px;margin-left:-100px;background-color:#fff;border-radius:3px;overflow: hidden;}
	.loader-progress{position:absolute;left:0;top:0;width:0;height:100%;background-color:#209f20;
		-webkit-transition: width 1s;
		transition: width 1s;
	}
	.animated.bounceOut {
	  -webkit-animation-duration: .6s;
	  animation-duration: .6s;
	}
	.animated.flash{
		-webkit-animation-duration: .3s;
		animation-duration: .3s;
	}
</style>
<div class="loader" v-show="loader.is_show">
	<div class="loader-bar">
		<div class="loader-progress" id="loader-progress"></div>
	</div>
</div>
<div class="none" id="app">
	<img style="position:absolute;top:0;left:0; width:0" src="http://image.xiaoshushidai.com/public/attachment/201703/01/17/20170301174923729.png">
	<div class="game-wrap">

		<a class="activity-rule color-fff f1" href="/rule/2">活动规则</a>
		<span class="tips w-100 tc none">果子尚未成熟~需要继续浇水哦</span>
		<div class="water none">
			<img class="bottle" src="../public/img/bottle.png">
			<img class="water-drops animated flash none" src="../public/img/water_drops.png">
		</div>
		<img class="w-100" src="../public/img/main_bg.png">
		<div class="planted-tree">
			<img class="w-100 inline-block" src="../public/img/main_tree.png">
			<img class="grap-hand animated _shake" @click="openFruit(hand_fruit.index,hand_fruit.id)" src="../public/img/grap_hand.png">
			<div v-for="(fruit, key) in fruit_list">
				<div class="fruit _fruit-1 _fruit-p1" v-bind:class="[fruit_class[key]]" v-show="(fruit_list[key].watered_count > 0)" @click="openFruit(fruit.index,fruit.id)">
					<!-- <img class="grap-hand animated _shake" v-show="(fruit_list[key].watered_count >= fruit_list[key].total_required_water_count) && (fruit_list[key].is_opened == 0)" src="../public/img/grap_hand.png"> -->
					<div class="fruit-hp" v-bind:class="[fruit_hp_class[key]]"  v-show="!(fruit_list[key].watered_count >= fruit_list[key].total_required_water_count)">
						<span class="hp-value active" v-for="n in (fruit_list[key].watered_count)"></span>
						<span class="hp-value" v-for="i in ((fruit_list[key].total_required_water_count - fruit_list[key].watered_count))"></span>
					</div>
					<img class="fruit-complete-ico" v-show="fruit_list[key].is_opened == 1" src="public/img/completeico.png">
					<img class="w-100 bounceIn" v-bind:class="{ animated: (fruit_list[key].watered_count > 0) }" src="../public/img/fruit.png">
				</div>
			</div>
		</div>
		<div class="bottom-tool">
			<!-- <div class="gift-box inline-block" @click="switchNav(2)" v-show="false">
				<img class="w-100 animated infinite _tada" src="../public/img/gift_box.png">
			</div> -->
			<div class="bottle-box inline-block" @click="water">
				<div class="add-water bounceIn none">+</div>
				<div class="bottle-info tc">{{ user_info.watering_able_count }}</div>
				<img class="w-100 flash _infinite" v-bind:class="{ animated: !is_can_water }" src="../public/img/water_bottle.png">
			</div>
		</div>
	</div>
	<div class="tab-wrap">
		<div class="tab inline-block tc w-50 border-right-line border-bottom-line" v-bind:class="{ active:(nav_index == 1) }" @click="switchNav(1)">
			<span class="f2">成长记录</span>
		</div>
		<div class="tab inline-block tc w-50 border-bottom-line" v-bind:class="{ active:(nav_index == 2) }" @click="switchNav(2)">
			<span class="nav-tips" v-show="has_new_gift"></span>
			<span class="f2">我的礼品</span>
		</div>
	</div>
	<div class="tab-content-wrap">
		<div class="tab-content" id="growth-log" v-show="nav_index == 1">
			<div class="no-record" id="none-growth-tips" v-if="growth_log.length < 1">
				<span class="color-gray">暂无记录哦~</span>
			</div>
			<ul class="growth-list list" v-if="growth_log.length > 0">
				<li class="item" v-for="log in growth_log">
					<span class="vm inline-block avator bg-cover" v-bind:style="{backgroundImage: 'url(' + (log.avatar_url || '../public/img/defualt_avatar.png') + ')'}" >
						<!-- <img class="w-100" src="../public/img/fruit.png"> -->
					</span>
					<span class="nick-name-info nowrap">
						<span class="vm nick-name nowrap">
							{{ log.nick_name }}
						</span>
						<span class="log-info color-666">
							{{ log.info }}
						</span>
					</span>
					<span class="create-time fr color-666">
						{{ log.create_time }}
					</span>
				</li>
				<li class="tc item" id="growth-more-btn" v-show="growth_log_index < growth_total_page" @click="addGrowthLog">
					<div class="data-loader" v-show="loader.is_loading">
					    <svg class="circular" viewBox="25 25 50 50">
					      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
					    </svg> 
					</div>
					<a v-show="!loader.is_loading" class="color-000" href="javascript:">点击查看更多</a>
				</li>
			</ul>
		</div>
		<div class="tab-content" id="my-gift" v-show="nav_index == 2">
			<div class="no-record" id="none-gift-tips" v-if="gift_log.length < 1">
				<span class="color-gray">暂无记录哦~</span>
			</div>
			<ul class="growth-list list" v-if="gift_log.length > 0">
				<li class="item" v-for="log in gift_log">
					<span class="vm inline-block avator bg-cover" v-bind:style="{backgroundImage: 'url(' + (log.avatar_url || '../public/img/defualt_avatar.png') + ')'}">
						<!-- <img class="w-100" src="../public/img/fruit.png"> -->
					</span>
					<span class="nick-name-info nowrap">
						<span class="vm nick-name nowrap">
							{{ log.nick_name }}
						</span>
						<span class="log-info color-666">
							{{ log.info }}
						</span>
					</span>

					<a class="create-time fr color-link" v-bind:href="'/my-gift/' + log.gift_id" v-if="(log.is_received == 1 && log.type_id != 4 && log.is_change != 1 && log.is_received_log != 1)">
						查看详情  
					</a>
					<span class="create-time fr" v-else-if="(log.is_change == 1 && log.type_id == 3)">已兑换</span>
					<span class="create-time fr color-link" v-else-if="log.is_received == 0" @click="openPopBox(log,log.info)">马上领取</span>
					<span class="create-time fr" v-else-if="log.is_received == 2">已送出</span>
					<span class="create-time fr" v-else-if="log.is_received_log == 1">已被领取</span>
				</li>
				<li class="tc item" id="gift-more-btn" v-show="gift_log_index < gift_total_page" @click="addGiftLog">
					<div class="data-loader" v-show="loader.is_loading">
					    <svg class="circular" viewBox="25 25 50 50">
					      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
					    </svg> 
					</div>
					<a v-show="!loader.is_loading" class="color-000" href="javascript:">点击查看更多</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="pop-box" v-bind:class="{ none: pop.isHide }">
		<div class="body _animated bounceIn" v-bind:class="{ animated: !pop.isHide, bounceOut: pop.fadeOut }">
			<img class="w-100" v-bind:src="pop.bg">
			<div class="info">
				<span>{{ pop.content }}</span>
			</div>
			<div class="operation">
				<img @click="closePopBox" class="btn" src="../public/img/refuse_btn.png">
				<img @click="recieveGift" class="btn" src="../public/img/recieve_btn.png">
			</div>
		</div>
	</div>
	<div class="none">
		<img class="w-100" src="../public/img/achieve_virtual_tips.png">
		<img class="w-100" src="../public/img/achieve_money_tips.png">
		<img class="w-100" src="../public/img/achieve_invest_tips.png">
		<img class="w-100" src="../public/img/achieve_ticket_tips.png">
		<img class="w-100" src="../public/img/achieve_water_count.png">
	</div>
</div>
<script type="text/javascript" src="/public/js/libs/vue.js"></script>
<script type="text/javascript">
	$(function(){	
		var app = new Vue({
		  el: '#app',
		  data: {
		    message: 'Hello Vue!',
		    open_id: '<%= open_id %>',
		    user_id: '<%= user_info.user_id %>',
		    user_info: {watering_able_count:7},
		    fruit_list: [
				{
					index: 1, // 果子编号
					watered_count: 0, // 已浇水次数
					total_required_water_count: 1, //总共需要浇水几次 
					is_opened: 0, // 是否打开果子(0-未打开, 1-已打开)
				},
				{
					index: 2, // 果子编号
					watered_count: 0, // 已浇水次数
					total_required_water_count: 2, //总共需要浇水几次 
					is_opened: 0, // 是否打开果子(0-未打开, 1-已打开)
				},
				{
					index: 3, // 果子编号
					watered_count: 0, // 浇水次数
					total_required_water_count: 4, //总共需要浇水几次 
					is_opened: 0, // 是否打开果子(0-未打开, 1-已打开)
				}
				,
				{
					index: 4, // 果子编号
					watered_count: 3, // 浇水次数
					total_required_water_count: 6, //总共需要浇水几次 
					is_opened: 0, // 是否打开果子(0-未打开, 1-已打开)
				}
				,
				{
					index: 5, // 果子编号
					watered_count: 0, // 浇水次数
					total_required_water_count: 8, //总共需要浇水几次 
					is_opened: 0, // 是否打开果子(0-未打开, 1-已打开)
				}
			],
			fruit_class:['fruit-1 fruit-p1','fruit-2 fruit-p2','fruit-3 fruit-p3','fruit-4 fruit-p4', 'fruit-5 fruit-p5'],
			fruit_hp_class:['hp-1','hp-2','hp-3','hp-4','hp-5'],
			nav_index: 1,
		    growth_log: [],
		    gift_log: [],
		    pop:{
		    	isHide: true,
		    	fadeOut: false,
		    	content: '恭喜',
		    	bg:null
		    },
		    growth_log_index: 0,
		    gift_log_index: 0,
		    growth_total_page: 0,
		    gift_total_page: 0,
		    gift_id: null,
		    gift_type_id: 0,
		    gift_bgs:['../public/img/achieve_money_tips.png','../public/img/achieve_invest_tips.png','../public/img/achieve_ticket_tips.png','../public/img/achieve_water_count.png','../public/img/achieve_virtual_tips.png'],
		    has_new_gift: false,
		    loader:{
		    	is_show: true,
		    },
		    none_water_count: 0,
		    is_can_water: true,
		    loader:{
		    	is_loading: false,
		    },
		    hand_fruit:{
		    	index:1,
		    	id: 1
		    }
		  },
		  filters: {
			capitalize: function (value) {
			  if (!value) return ''
			  value = value.toString()
			  return value.charAt(0).toUpperCase() + value.slice(1)
			},
			int: function(value) {
				return parseInt(value);
			}
		},	
		  created: function(){
		  	this.init();
		  },
		  methods: {
		  	init: function(){
		  		var self = this;
		  		// 获取用户信息
		  		this.getUserInfo();

		  		// 获取果子列表
		  		//this.getFruitList();

		  		// 列出成长记录
		  		this.listGrowthLog(1);

		  		// 列出礼品记录
		  		this.listGiftLog(1);

		  		// 查看是否有未领取礼品
		  		this.checkGiftLog();

		  		setTimeout(function(){
		  			self.loader.is_show = false;
		  		},3000);

		  	},
		  	getUserInfo: function(callback){
		  		var self = this;
		  		api_post('',{act: 'get_user_info',open_id: this.open_id},function(ret){
		  			log('>>>>>>>>>>>>>>>>');
					log(ret);
					self.user_info = ret.user_info;
					if(callback){
						callback();
					}
					// 获取果子列表
					self.getFruitList();
				});	
		  	},
		  	getFruitList: function() {
		  		var self = this;
		  		api_post('', {act: 'get_fruit_list', user_id: this.user_info.user_id}, function(ret){
		  			log('果子列表：');
		  			log(ret);
		  			for(var index in ret.fruits){
		  				ret.fruits[index].watered_count = parseInt(ret.fruits[index].watered_count); 
		  				ret.fruits[index].total_required_water_count = parseInt(ret.fruits[index].total_required_water_count); 
		  				ret.fruits[index].is_opened = parseInt(ret.fruits[index].is_opened);
		  			}
		  			self.fruit_list = ret.fruits;

		  			// update grap hand status & position
		  			self.updateHandPosition();

		  			if($('#app').hasClass('none')){
		  				$('#app').removeClass('none');
		  				loader.loaderUpdate(loader.assets.length + 1);
		  			}
		  		});
		  	},
		  	updateHandPosition: function() {
		  		var has_can_open = false;
		  		for(var index in this.fruit_list){
		  			var fruit = this.fruit_list[index];
		  			if(fruit.is_opened == 0 && fruit.watered_count >= fruit.total_required_water_count){
		  				log('.fruit-' + (parseInt(index)+1));
		  				log($('.fruit-' + (parseInt(index)+1)));
		  				var $fruit = $('.fruit-' + (parseInt(index)+1));
		  				$('.grap-hand').css({
		  					left: (parseInt($fruit.css('left')) + parseInt($fruit.width())) + 'px',
		  					top: (parseInt($fruit.css('top'))) + 'px',
		  				});
		  				this.hand_fruit.index = fruit.index;
		  				this.hand_fruit.id = fruit.id;
		  				has_can_open = true;
		  				break;
		  			}
		  		}
		  		if(!has_can_open){
		  			$('.grap-hand').addClass('none');
		  		}else{
		  			$('.grap-hand').removeClass('none');
		  		}
		  	},
		  	addGrowthLog: function(){
		  		var self = this;
		  		if(this.growth_log_index < this.growth_total_page){
		  			this.loader.is_loading = true;
		  			this.listGrowthLog(this.growth_log_index + 1,function(){
		  				self.loader.is_loading = false;
		  			});
		  		}
		  	},	
		  	listGrowthLog: function(page,callback){
		  		this.growth_log_index = parseInt(page);
		  		var self = this;
		  		var post_data = {act:'get_growth_log', user_id: this.user_id, page: page, page_count:5};
		  		log(post_data);
		  		api_post('', post_data, function(ret){
		  			if(ret.status == 1){
		  				log('成长记录：');
		  				log(ret);
		  				//alert(ret.total_page);
		  				self.growth_total_page = parseInt(ret.total_page);
		  				// for(var i in  ret.growth_log){
		  				// 	self.growth_log.push(ret.growth_log[i]);
		  				// }
		  				self.growth_log = ret.growth_log;
		  				if(callback) callback();
		  				log(self.growth_log);
		  				//self.growth_log = ret.growth_log;

		  			}
		  		});
		  	},
		  	getGrowthLog: function(page) {
		  		
		  	},
		  	addGiftLog: function(){
		  		var self = this;
		  		if(this.gift_log_index < this.gift_total_page){
		  			this.loader.is_loading = true;
		  			this.listGiftLog(this.gift_log_index + 1,function(){
		  				self.loader.is_loading = false;
		  			});
		  		}
		  	},
		  	listGiftLog: function(page,callback) {
		  		var self = this;
		  		this.gift_log_index = parseInt(page);
		  		var post_data = {act:'get_gift_log', user_id: this.user_id, page: page, page_count:5};
		  		log(post_data);
		  		api_post('', post_data, function(ret){
		  			if(ret.status == 1){
		  				log('礼品记录：');
		  				log(ret);
		  				self.gift_total_page = parseInt(ret.total_page);
		  				//alert(ret.total_page);
		  				// for(var i in ret.log_list){
		  				// 	self.gift_log.push(ret.log_list[i]);
		  				// }
		  				if(callback) callback();
		  				self.gift_log = ret.log_list;
		  				//self.growth_log = ret.growth_log;
		  			}
		  		});
		  	},
		  	checkGiftLog: function(){
		  		var self = this;
		  		var post_data = {act:'has_gift', user_id: this.user_id};
		  		log('查看是否有未领取的礼品：');
		  		log(post_data);
		  		api_post('', post_data, function(ret){
		  			log(ret);
		  			if(parseInt(ret.data.has_gift) > 0){
		  				self.has_new_gift = true;
		  			}else{
		  				self.has_new_gift = false;
		  			}
		  		});
		  	},
		  	// 浇水
		  	water: function() {
				//this.openPopBox(1, '恭喜哦你');
				self = this;
				var fruit_index = 0;
				for(var index in this.fruit_list){
					fruit_index = index;
					var fruit = this.fruit_list[index];
					if(fruit.watered_count < fruit.total_required_water_count){
						break;
					}
				}
				if(parseInt(this.user_info.watering_able_count) < 1){
					this.none_water_count++;
					if(this.none_water_count > 1){
						this.none_water_count = 0;
						showShareTips();
						return;
					}
					dialog.error('可用浇水次数不够！');
					return;
				}

				if(parseInt(this.user_info.watering_able_count) > 0 && this.fruit_list[fruit_index].watered_count < this.fruit_list[fruit_index].total_required_water_count){
					if(!self.is_can_water){
						return;
					}else{
						self.is_can_water = false;
					}
					//log('执行浇水');
					api_post('', {act: 'water',user_id: this.user_info.user_id, t_user_id: this.user_info.user_id, fruit_id: this.fruit_list[fruit_index].id}, function(ret){
						// 浇水结果
						log('浇水结果:');
						log(ret);
						if(ret.status == 1){
							self.waterAnimate(function(){
									//self.getFruitList();
								if(ret.show_err) dialog.success(ret.show_err,1500);
							});	
							self.getUserInfo(function(){
								
							});
						}
						self.is_can_water = true;
					});
				}else{
					dialog.error('小主您今天已结满果实啦~明天再来吧！');
				}
		  	},
		  	waterAnimate: function(callback) {
		  		$('.water').removeClass('none').children('.bottle').addClass('rotate');

		  		setTimeout(function(){
		  			$('.water').children('.water-drops').removeClass('none').addClass('flash');
		  		},500);

		  		setTimeout(function(){
		  			$('.water').addClass('none').children('.bottle').removeClass('rotate');
		  			$('.water').children('.water-drops').addClass('none').removeClass('flash');

		  			if(callback) callback();
		  		},1000);
		  	},
		  	openFruit: function(index, id) {
		  		var self = this;
		  		//alert(index);
		  		var fruit = this.fruit_list[index-1];

		  		if(fruit.is_opened > 0 || fruit.watered_count < fruit.total_required_water_count){
		  			return;
		  		}
		  		var post_data = {act: 'open_fruit', user_id: this.user_id, fruit_index: index, fruit_id: id,user_type: this.user_info.user_type};
		  		log('打开果子的post数据');
		  		log(post_data);
		  		api_post('',post_data , function(ret){
		  			
		  			log('打开果子：');
		  			log(ret);
		  			var content = '';
		  			var gift = ret.data;
		  			var pre = '恭喜你获得';
		  			if(ret.status == 1){
		  				switch(gift.gift_type){
		  					case 1:
		  					content = pre + gift.gift_value + '元现金红包';
		  					break;
		  					case 2:
		  					content = pre + gift.gift_value + '元理财券';
		  					break;
		  					case 3:
		  					content = pre + '1张小树券';
		  					break;
		  					case 4:
		  					content = pre + '1次浇水机会';
		  					break;
		  					case 5:
		  					content = pre + gift.gift_name;
		  					break;
		  				}	
		  				if(gift.gift_type == 4){
		  					self.gift_id = gift.id;
		  					self.gift_type_id = gift.gift_type;
		  					self.recieveGift(function(){
		  						// 加浇水机会
		  						dialog.success('获得一次浇水机会！',2000);
		  						self.addWaterCountAnimation();
		  					});
		  				}else{
		  					self.openPopBox(gift, content);
		  				}
		  				self.getUserInfo();
		  				self.listGiftLog(self.gift_log_index);
		  				self.checkGiftLog();
		  			}
		  		});
		  	},
		  	openGift: function(){

		  	},
		  	recieveGift: function(callback) {
		  		var self = this;
		  		if(!self.user_info.is_binded_mobile && self.gift_type_id != 4){
		  			window.location.href = '/verify-mobile/' + this.gift_id;
		  			return;
		  		}
		  		api_post('', {act:'receive_gift', id: this.gift_id, user_id: this.user_id}, function(ret){
		  			log('领取礼物');
		  			log(ret);
		  			if(ret.status == 1){
		  				dialog.success(ret.show_err, 3000);
		  				if(typeof callback == 'function') callback();
		  				self.listGiftLog(self.gift_log_index);
		  				self.closePopBox();
		  			}
		  		});
		  		//this.closePopBox();
		  	},
		  	openPopBox: function(gift, content) {
		  		this.gift_id = gift.id || gift.gift_id;
		  		this.gift_type_id = gift.type_id;
		  		this.pop.content = content;
		  		this.pop.bg = this.gift_bgs[((gift.gift_type || gift.type_id)-1)];
		  		this.pop.isHide = false;
		  		// log
		  		// this.$pop.removeClass('none').children('.body').addClass('animated');
		  		// this.$pop.find('.info span').text(content || '?????');
		  	},
		  	closePopBox:function() {
		  		var self = this;
		  		this.pop.fadeOut = true;
		  		setTimeout(function(){
		  			self.pop.fadeOut = false;
		  			self.pop.isHide = true;
		  		},600);
		  		// this.$pop.addClass('none').children('.body').removeClass('animated');
		  		// this.$pop.find('.info span').text('');
		  	},
		  	switchNav: function(index) {
		  		this.nav_index = index;
		  		if(index == 1){
		  			this.listGrowthLog(this.growth_log_index);
		  		}else if(index == 2){
		  			this.listGiftLog(this.gift_log_index);
		  		}
		  	},
		  	addWaterCountAnimation: function(){
		  		$('.add-water').addClass('animated').removeClass('none');
		  		setTimeout(function(){
		  			$('.add-water').removeClass('animated').addClass('none');
		  		}, 1500);
		  	}
		  }

		})


		;(function(){
			var imageBase = '/public/img/';
			var $loader_pro = $('#loader-progress');
			function Loader(){
				this.init();
			}
			var p = Loader.prototype;
			p.loadedCount = 0;
			p.assets = [];
			p.loadImage = function(images){
				var self = this;
				for(var index in images){
					var img = new Image();
					img.src = images[index];
					img.addEventListener('load',function(){
						self.loadedCount ++;
						//log(this);
						self.loaderUpdate(self.loadedCount);
					});
					this.assets.push(img);
				}	
			}
			p.loaderUpdate = function(count){
				//log(count);
				$loader_pro.css({'width':(parseFloat(count)/this.assets.length +1 )*100+'%'});
				if(count/(this.assets.length + 1) >= 1){
					//game.remove(game.loadProgressText);
					$loader_pro.parent().parent().addClass('animated fadeOut');
	  				setTimeout(function(){
						$loader_pro.parent().parent().remove();
					},1000);
				}
			}
			p.init = function(){
				var self = this;
				self.loadImage([
					imageBase + 'main_bg.png',
					imageBase + 'main_tree.png',
					imageBase + 'fruit.png',
					imageBase + 'water_bottle.png',
					imageBase + 'bottle.png',
					imageBase + 'money_package.png',
					imageBase + 'achieve_invest_tips.png',
					imageBase + 'grap_hand.png',
					imageBase + 'water_drops.png',
					imageBase + 'gift_box.png',
					]);
			}
			var loader = new Loader();
			window.loader = loader;
		})();
	});
</script>