<style type="text/css">
	.game-wrap{position: relative;}
	.planted-tree{position: absolute;width:70%;bottom:18%;left: 15%;}
	.tab-wrap{font-size: 0;}
	.tab-wrap .tab{position: relative; line-height: 2.5rem; font-size: 1rem;}
	.tab-wrap .tab.active{border-bottom: 1px solid #008710;color: #008710;}
	.nav-tips{display:block;position: absolute;right:25%;top:0.5rem; background-color: red;width: 0.5rem;height: 0.5rem;border-radius: 100%;}
	.activity-rule{display: inline-block; position: absolute;top:0; left:0;padding: 1rem;}
	.tips{display: block; position: absolute;top:2.2rem; left:0;padding: 0rem;}
	.water{position: absolute;display: inline-block;left:70%;top:4rem;width:6rem;z-index: 2;}
	.no-record{padding: 2rem 0;text-align: center;}

	/*fruit*/
	.fruit{position: absolute; width: 2rem;}
	.fruit-1{width: 1.5rem;}
	.fruit-2{width: 2rem;}
	.fruit-3{width: 2.5rem;}
	.fruit-4{width: 3rem;}
	.fruit-5{width: 3.5rem;}
	.fruit-p1{left: 10.5rem;top: 1.6rem;}
	.fruit-p2{left: 13rem;top: 3rem;}
	.fruit-p3{left: 6.5rem;top: 5rem;}
	.fruit-p4{left: 14rem;top: 8rem;}
	.fruit-p5{left: 0.7rem;top: 9rem;}

	.grap-hand{display: none; position:absolute;width:2rem;top:1rem;left:01rem;z-index: 1;}

	.fruit-hp{position: absolute;left:1.5rem;top:-0.5rem;height:0.5rem;min-width:2rem;background-color: #fff;border: 1px solid #008710;border-radius: 0.8rem;overflow: hidden;font-size: 0;}
	.fruit-hp .hp-value{display: inline-block;height: 100%;/*width:0.5rem;*/ background-color: #c1eaaa;font-size: 0;float:left;border-right:1px solid #fff;}
	.fruit-hp .hp-value:last-child{border-right: none;}
	.fruit-hp .hp-value.active{background-color: #4a8300;}
	.hp-1 span{width: 100%;}
	.hp-2{width: 3rem;}
	.hp-2 span{width: 50%;}
	.hp-3{width: 4rem;}
	.hp-3 span{width: 25%;}
	.hp-4{width: 4rem;}
	.hp-4 span{width: 16.6666666666666%;}
	.hp-5{width: 4rem;}
	.hp-5 span{width: 12.5%;}



	/*bottom-tool*/
	.bottom-tool{position: absolute;right:0;bottom:0;padding: 0.5rem 1rem;}
	.gift-box{width: 2.5rem;padding-right: 0.8rem;}
	.bottle-box{width:3rem;}
	.bottle-info{position: absolute;width: 1rem;height: 1rem;line-height: 1rem;background-color: red; color:#fff;font-size: 0.5rem;border: 1px solid #fff;border-radius: 50%;right:0.8rem;top:-0.2rem;}


	/*list*/
	.list .item{padding: 0.5rem 0.5rem;line-height: 2.5rem;}
	.list .item span{margin-left:0.5rem;}
	.avator{width:2rem;height:2rem;border: 1px solid #209f20;border-radius: 50%;overflow: hidden;}

	/*pop-box*/
	.pop-box{position: fixed;top:0;left:0;width:100%;height:100%;background-color: rgba(0,0,0,0.7);z-index: 10;}
	.pop-box > .body{position: relative; margin-top:5rem; text-align: center;
		position: absolute;left:50%;top:50%;width:100%;
		margin-left:-12.5rem;
		margin-top:-15rem;
		/*-webkit-transform: translateX(-50%,-50%);
		transform: translate(-50%,-50%);*/
	}

	.pop-box > .body > img{width:80%;}
	.pop-box > .body .info{position: absolute;bottom:4.3rem;left:0;width:100%;text-align: center;}
	.operation{position: absolute;bottom:0;left:0;width:100%;}
	.operation .btn{width:6.5rem;margin:1rem 0.8rem;}
</style>
<img style="position:absolute;top:0;left:0; width:0" src="http://image.xiaoshushidai.com/public/attachment/201703/01/17/20170301174923729.png">
<div class="game-wrap">
	<a class="activity-rule color-fff f1" href="/rule">活动规则</a>
	<span class="tips w-100 tc none">果子尚未成熟~需要继续浇水哦</span>
	<div class="water">
		<img class="w-100" src="../public/img/water.png">
	</div>
	<img class="w-100" src="../public/img/main_bg.png">
	<div class="planted-tree">
		<img class="w-100 inline-block" src="../public/img/main_tree.png">
		<div class="fruit fruit-1 fruit-p1">
			<img class="grap-hand animated shake" src="../public/img/grap_hand.png">
			<div class="fruit-hp hp-1">
				<span class="hp-value active"></span>
			</div>
			<img class="w-100" src="../public/img/fruit.png">
		</div>
		<div class="fruit fruit-2 fruit-p2">
			<img class="grap-hand animated shake" src="../public/img/grap_hand.png">
		<div class="fruit-hp hp-2">
				<span class="hp-value"></span>
				<span class="hp-value"></span>
			</div>
			<img class="w-100" src="../public/img/fruit.png">
		</div>
		<div class="fruit fruit-3 fruit-p3">
			<img class="grap-hand animated shake" src="../public/img/grap_hand.png">
			<div class="fruit-hp hp-3">
				<span class="hp-value active"></span>
				<span class="hp-value"></span>
				<span class="hp-value"></span>
				<span class="hp-value"></span>
			</div>
			<img class="w-100" src="../public/img/fruit.png">
		</div>
		<div class="fruit fruit-4 fruit-p4">
			<img class="grap-hand animated shake" src="../public/img/grap_hand.png">
			<div class="fruit-hp hp-4">
				<span class="hp-value"></span>
				<span class="hp-value"></span>
				<span class="hp-value"></span>
				<span class="hp-value"></span>
				<span class="hp-value"></span>
				<span class="hp-value"></span>
			</div>
			<img class="w-100" src="../public/img/fruit.png">
		</div>
		<div class="fruit fruit-5 fruit-p5">
			<img class="grap-hand animated shake" src="../public/img/grap_hand.png">
			<div class="fruit-hp hp-5">
				<span class="hp-value"></span>
				<span class="hp-value"></span>
				<span class="hp-value"></span>
				<span class="hp-value"></span>
				<span class="hp-value"></span>
				<span class="hp-value"></span>
				<span class="hp-value"></span>
				<span class="hp-value"></span>
			</div>
			<img class="w-100" src="../public/img/fruit.png">
		</div>
	</div>
	<div class="bottom-tool">
		<div class="gift-box inline-block">
			<img class="w-100 animated infinite tada" src="../public/img/gift_box.png">
		</div>
		<div class="bottle-box inline-block">
			<div class="bottle-info tc">1</div>
			<img class="w-100" src="../public/img/water_bottle.png">
		</div>
	</div>
</div>
<div class="tab-wrap">
	<div class="tab inline-block tc w-50 border-right-line border-bottom-line active" data-for="growth-log">
		<span class="nav-tips"></span>
		<span class="f2">成长记录</span>
	</div>
	<div class="tab inline-block tc w-50 border-bottom-line" data-for='my-gift'>
		<span class="nav-tips"></span>
		<span class="f2">我的礼品</span>
	</div>
</div>
<div class="tab-content-wrap">
	<div class="tab-content" id="growth-log">
		<div class="no-record none">
			<span class="color-gray">暂无记录哦~</span>
		</div>
		<ul class="growth-list list">
			<li class="item">
				<span class="vm inline-block avator bg-cover" style="background-image: url(../public/img/fruit.png);">
					<!-- <img class="w-100" src="../public/img/fruit.png"> -->
				</span>
				<span class="vm nick-name">
					阿尔伯特
				</span>
				<span class="log-info color-666">
					成功浇水1次
				</span>
				<span class="create-time fr color-666">
					3-11 23:59
				</span>
			</li>
			<li class="tc">
				<span>点击查看更多</span>
			</li>
		</ul>
	</div>
	<div class="tab-content none" id="my-gift">
		<div class="no-record none">
			<span class="color-gray">暂无记录哦~</span>
		</div>
		<ul class="growth-list list">
			<li class="item">
				<span class="vm inline-block avator bg-cover" style="background-image: url(../public/img/fruit.png);">
					<!-- <img class="w-100" src="../public/img/fruit.png"> -->
				</span>
				<!-- <span class="vm nick-name">
					阿尔伯特
				</span> -->
				<span class="log-info color-666">
					恭喜你获得0.5元现金红包
				</span>
				<a class="create-time fr color-link" href="">
					查看详情
				</a>
			</li>
			<li class="item">
				<span class="vm inline-block avator bg-cover" style="background-image: url(../public/img/fruit.png);">
					<!-- <img class="w-100" src="../public/img/fruit.png"> -->
				</span>
				<span class="vm nick-name">
					阿尔伯特
				</span>
				<span class="log-info color-666">
					恭喜你获得0.5元现金红包
				</span>
				<a class="create-time fr color-link" href="">
					已送出
				</a>
			</li>
			<li class="item">
				<span class="vm inline-block avator bg-cover" style="background-image: url(../public/img/fruit.png);">
					<!-- <img class="w-100" src="../public/img/fruit.png"> -->
				</span>
				<span class="log-info color-666">
					恭喜你获得0.5元现金红包
				</span>
				<span class="create-time fr color-666">
					已送出
				</span>
			</li>
		</ul>
	</div>
</div>
<div class="pop-box none">
	<div class="body _animated bounceIn">
		<img class="w-100" src="../public/img/achieve_virtual_tips.png">
		<div class="info">
			<span>恭喜你获得xx虚拟礼品</span>
		</div>
		<div class="operation">
			<img class="btn" src="../public/img/refuse_btn.png">
			<img class="btn" src="../public/img/recieve_btn.png">
		</div>
	</div>
</div>
<div class="none">
	<img class="w-100" src="../public/img/achieve_virtual_tips.png">
	<img class="w-100" src="../public/img/achieve_money_tips.png">
	<img class="w-100" src="../public/img/achieve_invest_tips.png">
	<img class="w-100" src="../public/img/achieve_ticket_tips.png">
	<img class="w-100" src="../public/img/achieve_water_count.png">
</div>
<script type="text/javascript">
	$(function(){
		function Game() {
			this.init();
			// setTimeout(function(){
			// 	window.location.reload();
			// },3000);
		}
		var p = Game.prototype;

		p.$main = $('.main');
		p.$pop = $('.pop-box');
		p.pop_box_imgs = {
			virtual_gift: '../public/img/achieve_virtual_tips.png',
			money_gift: '../public/img/achieve_money_tips.png',
			invest_gift: '../public/img/achieve_invest_tips.png',
			ticket_gift: '../public/img/achieve_ticket_tips.png',
			water_gift: '../public/img/achieve_water_count.png',
		}

		p.init = function() {
			this.bindEvent();
		}

		p.bindEvent = function() {
			var self = this;
			// nav 
			this.$main.on('click', '.tab', function(){
				$(this).addClass('active').siblings().removeClass('active');
				$('#' + $(this).data('for')).removeClass('none').siblings().addClass('none');
			});

			// bottom tools
				// bottle
			this.bindClick('.gift-box', function(){
				self.openPopBox(1, '恭喜你！');
			});	

			this.bindClick('.pop-box .operation .btn', function(){
				self.closePopBox();
			});

		}

		p.bindClick = function(className, callback){
			this.$main.on('click', className, callback);
		}

		// open pop-box
		p.openPopBox = function(type, content) {
			this.$pop.removeClass('none').children('.body').addClass('animated');
			this.$pop.find('.info span').text(content || '?????');

		}

		p.closePopBox = function() {
			this.$pop.addClass('none').children('.body').removeClass('animated');
			this.$pop.find('.info span').text('');
		}
		// init Game
		var game = new Game();
	});
</script>