.border-right-line{border-right: 1px solid #f4f4f4;}
.border-bottom-line{border-bottom: 1px solid #f4f4f4;}

.color-gray{color: #b8b8b8;}
.color-link{color: #008710;}
.bg-gray{background-color: #b8b8b8 }
.bg-yellow{background-color: #ffe816;}

.f1{font-size: 1rem;}
.f2{font-size: 1.2rem;}


.success-pop{
    display: none;
    position: fixed;
    top:50%;
    left: 50%;
    margin-top:-90px;
    margin-left: -90px;
    height: 120px;
    width:180px;
    line-height: 20px;
    background-color:rgba(0,0,0,0.5);
    font-size: 14px;
    color:#fff;
    text-align: center;
    border-radius:5px;
    padding:45px 20px;
    box-sizing: border-box;
}
.success-pop:before{
    content:'';
    position: fixed;
    display: block;
    top:-1000px;
    left:-500px;
    width: 1000px;
    height: 2200px;
    background-color:rgba(200,0,0,0);
}

.share-tips{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.fadeIn{
    display: block;
    animation: fadeIn 0.5s forwards;
}
@keyframes fadeIn{
    from{opacity: 0;transform: scale(0.2);}
    20%{transform: scale(1.02);}
    to{opacity: 1;transform: scale(1);}
}


/*animation*/
/* This is the animation code. */
@-webkit-keyframes shake {
   from { transform: scale(2.0); }
   to   { transform: scale(1.0); }
}

/* This is the element that we apply the animation to. */
.shake {
	-webkit-animation: shake;
    animation: shake;
}

.rotate{
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-name: rotate;
	animation-name: rotate;
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotateZ(0deg);
    	transform: rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateZ(-30deg);
    	transform: rotateZ(-30deg);	
	}
}

@keyframes headShake{
	0% {
		-webkit-transform: rotateZ(0deg);
    	transform: rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateZ(-30deg);
    	transform: rotateZ(-30deg);	
	}
}