.border-right-line{border-right: 1px solid #f4f4f4;}
.border-bottom-line{border-bottom: 1px solid #f4f4f4;}

.color-gray{color: #b8b8b8;}

.f1{font-size: 1rem;}
.f2{font-size: 1.2rem;}

/*animation*/
