<style type="text/css">
	.top{padding:3rem 0;padding-top:0rem;font-size:0;}
	.scroll{
		-webkit-animation: roll infinite linear 30s;
		animation: roll infinite linear 30s;
	}
	@-webkit-keyframes roll{
		from{
			-webkit-transform: translateY(100%); transform: translateY(100%);
		}
		to{
			-webkit-transform: translateY(-100%); transform: translateY(-100%);
		}
	}
	@keyframes roll{
		from{
			-webkit-transform: translateY(100%); transform: translateY(100%);
		}
		to{
			-webkit-transform: translateY(-100%); transform: translateY(-100%);
		}
	}
</style>
<div>
	<div class="tc f2" style="padding: 1.5rem 0;"><span style="color:#ee6666;">312植树活动已正式结束！</span><br>
	<span class="color-666" style="font-size:1rem;">感谢您们的喜爱与支持！</span>
	</div>
	<div class="top tc">
		<div class="inline-block color-666 vm" style="width:60%;line-height: 1.8rem; font-size:1rem">
			<span>后续更精彩活动</span><br>
			<span>可关注“小树钱包”公众号</span><br>
			<span>获得第一手理财活动资讯！</span>
		</div>
		<div class="inline-block vm" style="width:40%;">
			<img class="w-80" src="/public/img/qrcode.png">
		</div>
	</div>
	<div style="border-top:1px dashed #999;height: 0;"></div>
	<div class="bottom color-999" style="padding-top:1rem">
		<div class="tc f1" style="margin-top:-1.8rem"><span style="padding:0 0.5rem;background-color: #fff;">以下是本次活动的感谢名单</span></div>
		<div class="tc" style="max-height:20rem;overflow-y:hidden;margin-top:1rem">
			<span class="inline-block scroll" style="padding:0rem 0;line-height:1.2rem;font-size:0.8rem;text-align: left;">
				<span style="color:#666;font-size:0.9rem">Team Cast:</span><br>
				<span>&nbsp;&nbsp;&nbsp;&nbsp;Director-------------------------洪哥、飞哥</span><br>
				<span>&nbsp;&nbsp;&nbsp;&nbsp;PM------------------------------阿北、乔司</span><br>
				<span>&nbsp;&nbsp;&nbsp;&nbsp;Designer------------------------墨鱼</span><br>
				<span>&nbsp;&nbsp;&nbsp;&nbsp;Scripter-------------------------MC、花花</span><br>
				<span>&nbsp;&nbsp;&nbsp;&nbsp;Promotion-----------------------LP</span><br>
				<span>&nbsp;&nbsp;&nbsp;&nbsp;B Engineer----------------------小星星、博文、小海</span><br>
				<span>&nbsp;&nbsp;&nbsp;&nbsp;F Engineer----------------------大宝</span><br>
				<span>&nbsp;&nbsp;&nbsp;&nbsp;T Engineer----------------------娇娇</span><br>
				<br>
				<span class="color-666" style="font-size:0.9rem">以下人员亦有贡献：</span><br>
				<span>
					老璧、小哈、章鱼、小龙、小新、小唐、Vivi、小师妹、<br>小晴天、Demi、阿杰
				</span>
				<div class="tc" style="padding:1rem 0;color:#ddd;font-size:0.9rem;"><span>Powered by Treetech</span></div>
			</span>
		</div>
	</div>
</div