<style type="text/css">
	_html{background-color: #f4f4f4;}
	.list-item{
		position: relative;
		padding: 0 1rem;
		line-height: 4rem;
		background-color: #fff;
	}
	.bottom-line:after{
		content: ' ';
		display: block;
		position: absolute;
		left:0;
		bottom: 0;
		height: 0.5px;
		width: 100%;
		background-color: #f4f4f4;
	}
	.list-item input{
		_outline:none;
		margin-left:2rem;
		line-height: 3.5rem;
		border:none;
	}
	.get-verify-btn{height: 100%;padding:0 1rem;margin-right: -1rem;}
	.submit-btn{width:15rem;line-height: 3rem;border-radius:3px;}
</style>
<div class="tc" style="margin-top:5rem;">
	<p class="tc" style="padding: 1rem;">
		您是小树时代的借款用户，部分礼品无法使用，但领取礼品后可转增给您的理财好友哦~
如有疑问，请联系客服~
	</p>
	<p style="height:5rem;"></p>
	<div class="inline-block bg-yellow submit-btn" onclick="goHome()">
		查看我的小树
	</div>
	<br>
	<p style="height: 1rem;"></p>
	<a class="color-red" href="/rule/3">隐私条款</a>
</div>
<script type="text/javascript">
	function goHome(){
		window.location.href = '/';
	}
</script>