<style type="text/css">
	_html{background-color: #f4f4f4;}
	.list-item{
		position: relative;
		padding: 0 1rem;
		line-height: 4rem;
		background-color: #fff;
	}
	.bottom-line:after{
		content: ' ';
		display: block;
		position: absolute;
		left:0;
		bottom: 0;
		height: 0.5px;
		width: 100%;
		background-color: #f4f4f4;
	}
	.list-item input{
		_outline:none;
		margin-left:2rem;
		line-height: 3.5rem;
		border:none;
	}
	.get-verify-btn{height: 100%;padding:0 1rem;margin-right: -1rem;}
	.submit-btn{width:15rem;line-height: 3rem;border-radius:3px;}
</style>
<div class="tc" style="margin-top:5rem;">
	<p class="tc" style="padding: 1rem;">
		查看我的小树
		隐私条款
		马上激活新手礼包
		亲爱的用户，欢迎您加入小树时代大家庭~
		<span class="color-red">888元新手大礼包</span>已发放至您的小树账户，请登录小树理财APP进行查看~
	</p>
	<p style="height:1rem;"></p>
	<p>本次活动的相关奖品将在活动结束后进行发放。</p>
	<p style="height:5rem;"></p>
	<div class="inline-block bg-yellow submit-btn" onclick="goStore()">
		马上激活新手礼包
	</div>
	<p style="height: 0.5rem;"></p>
	<div class="inline-block bg-yellow submit-btn" onclick="goHome()">
		查看我的小树
	</div>
	<br>
	<p style="height: 1rem;"></p>
	<a class="color-red" href="/rule">隐私条款</a>
</div>
<script type="text/javascript">
	function goStore(){
		window.location.href = "http://a.app.qq.com/o/simple.jsp?pkgname=com.xssd.p2p.licai";
	}
	function goHome(){
		window.location.href = '/';
	}
</script>