<style type="text/css">
	.index-header{
		padding:5px;
		line-height: 20px;
		background-color: #fff;
		border-bottom: 1px solid #999;
	}
</style>
<div class="index-header">

	<label>ID:</label><span><%= id %></span><br/>
	<label>用户名：</label><span class="name"><%= name %></span><br>
	<label>等级：</label><span><%= level %></span><br>
	<label>经验值：</label><span><%= experience %></span><br>
	<label>财富：</label><span><%= money_count %></span><br>
	<label>世界排名：</label><span><%= rank %></span>
</div>
<div class="blank10"></div>
<div>
	<div class="field">
		<a href=""><label>等级</label></a>
	</div>
	<div class="field">
		<a href=""><label>金币</label></a>
	</div>
	<div class="field">
		<a href=""><label>好友</label></a>
	</div>
	<div class="field">
		<a href="/setting"><label>设置</label></a>
	</div>
</div>