<style type="text/css">
	html{background-color: #f4f4f4;}
	.rule-wrap{padding:0.5rem;}
	h3{padding: 1rem 0;}
	p{padding: 0rem 0;}
</style>
<div class="rule-wrap">
	<h3>活动规则：</h3>
	<p>	
		<p>1.小树需要浇水方可结出果实，每次浇水将可提高果实的成熟度；</p>
		<p>2.每早6点更新果实数及浇水次数，每人初始浇水次数为1次；</p>
		<p>3.每天初次分享都可增加1次浇水，每位好友可为自己浇水1次；</p>
		<p>4.小树每天可结5颗果实；</p>
		<p>5.财神券集满5张可免费兑换财神树一株；</p>
		<p>6.赠送礼物给他人，他人成功注册后，将自动关联推荐人；</p>
		<p>7.本活动最终解释权归小树时代所有</p>

	</p>
	<h3>奖品规则：</h3>
	<p>
		<p>1.现金红包将充值到您的小树账户余额上，可投资扣减也可提现；</p>
		<p>2.理财券将发放到您的小树账户余额上，投资可抵减相应金额</p>
		<p>&nbsp;</p>
		联系客服留下快递地址

	</p>
</div>