<style type="text/css">
	.bottom-nav{text-align: center;}
	.bottom-nav .btn{width:70%;}
</style>
<div class="app none">
	<a class="fr color-red inline-block" style="padding:1rem;" href="/rule/1">礼品规则</a>
	<div style="height: 5rem;"></div>
	<div class="tc">
		<span class="gift-info"><%= gift.info %></span>
		<span class="none" id="can_send"><%= gift.can_send %></span>
	</div>
	<div class="tc">
		<img class="inline-block" id="gift-bg" style="width:80%" src="/public/img/money_package.png">
	</div>
	<div style="height: 5rem;"></div>
	<div class="bottom-nav">
		<a class="btn inline-block" href="javascript:"><img class="w-100 help-water send-friend" id="send-friend-01" style="margin-top:3rem;" src="/public/img/send_friend_btn_02.png">
		</a>

		<a class="btn inline-block send-friend none" id="send-friend-02" style="margin-top:1rem;" href="javascript:"><img class="w-100" src="/public/img/send_friend_btn.png"></a>

		<a class="btn inline-block" id="self-use-btn" style="margin-top:1rem;" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.xssd.p2p.licai"><img class="w-100" src="/public/img/self_use_btn.png"></a>

		<a class="btn inline-block none" id="continue-btn" style="margin-top:1rem;" href="/"><img class="w-100" src="/public/img/continute_achieve_btn.png"></a>
		
		<a class="btn inline-block none" id="exchange-btn"  style="margin-top:1rem;" href="javascript:"><img class="w-100" src="/public/img/exchange_btn.png"></a>

	</div>
</div>
<script type="text/javascript">
	$(function(){
		$('.send-friend').click(function(){
			if(parseInt($('#can_send').text()) == 1){
				//dialog.error('此礼品不能赠送哦~');
				showShareTips();
			}else{
				dialog.error('此礼品不能赠送哦~');
			}
			
		});

		// 判断是否是小树券
		if('<%= gift.type_id %>' == '3'){
			var post_data = {act: 'get_tree_coupon_count', user_id: '<%= user_info.user_id %>'};
			log(post_data);
			api_post('', post_data, function(ret){
				log('获取小树券的数量');
				log(ret);
				if(ret.status == 1){
					$('.gift-info').text('小树券目前收集进度：' + ret.data.tree_coupon_count + '/5');
					if(ret.data.tree_coupon_count >= 5){
						$('#exchange-btn').removeClass('none');
					}else{
						
					}
					$('#continue-btn').removeClass('none');
					$('#self-use-btn').addClass('none');
					$('#send-friend-01').addClass('none');
					$('#send-friend-02').removeClass('none');
					if('<%= gift.is_received %>' == '2' || '<%= gift.can_send %>' != '1'){
						$('#send-friend-01').addClass('none');
						$('#send-friend-02').addClass('none');
					}
					$('.app').removeClass('none');
				}
			});
		}else{
			$('.app').removeClass('none');
			if('<%= gift.can_send %>' != '1'){
				$('#send-friend-01').addClass('none');
				$('#send-friend-02').addClass('none');
			}
		}

		// 兑换小树券
		$('#exchange-btn').click(function(){
			var post_data = {act:'exchange_money_tree', user_id: '<%= user_info.user_id %>'};
			api_post('', post_data, function(ret){
				if(ret.status == 1){
					window.location.href = '/exchange-success';
				}
			});
		});

		var bgs = ['','/public/img/money_package.png','/public/img/invest_ticket.png','/public/img/xs_ticket.png','/public/img/achieve_water_count_small.png','/public/img/virtual_gift.png'];

		$('#gift-bg').attr('src',bgs['<%= gift.type_id %>']);
	});
</script>
<% if(signatureData && gift.is_received != 2 && gift.can_send == 1) { %>
<script type="text/javascript">
	wx.ready(function(){
	    wx.onMenuShareAppMessage({
	        title: TITLE, // 分享标题
	        desc: '朕送你一个大红包，快点击看是不是999元现金！', // 分享描述
	        link: '312activity.xiaoshushidai.com/receive-friend-gifts/<%= user_info.user_id %>/<%= gift.gift_id %>', // 分享链接
	        imgUrl: IMAGE_URL, // 分享图标
	        type: '', // 分享类型,music、video或link，不填默认为link
	        dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
	        success: function () { 
	            // 用户确认分享后执行的回调函数
	            api_post('', {act:'add_water_times', user_id: '<%= user_info.user_id %>'}, function(ret){
	  	           	});
	        },
	        cancel: function () { 
	            // 用户取消分享后执行的回调函数
	        }
	    });

	    wx.onMenuShareTimeline({
  	        title: TITLE, // 分享标题
  	        link: '312activity.xiaoshushidai.com/receive-friend-gifts/<%= user_info.user_id %>/<%= gift.gift_id %>', // 分享链接
  	        imgUrl: IMAGE_URL, // 分享图标
  	        success: function () { 
  	            // 用户确认分享后执行的回调函数
  	            api_post('', {act:'add_water_times', user_id: '<%= user_info.user_id %>'}, function(ret){
  	           	});
  	        },
  	        cancel: function () { 
  	            // 用户取消分享后执行的回调函数
  	        }
  	    });

	});
</script>
<% } %>
