<style type="text/css">
	html{background-color: #fff;}
	.rule-wrap{padding:0.5rem;}
	h3{padding: .5rem 0;}
	p{padding: 0.2rem 0;}
	.tab-wrap{font-size: 0;}
	.tab-wrap .tab{position: relative; line-height: 2.5rem; font-size: 1rem;-webkit-transition: all 0.2s;transition: all 0.2s;}
	.tab-wrap .tab.active{border-bottom: 1px solid #008710;color: #008710;}
	.block{
		display: block !important;
	}
	ul > li{padding: 0.2rem 0;}
</style>
<div class="tab-wrap">
	<div id="nav-1" class="tab inline-block tc w-33 border-right-line border-bottom-line <% if(index == 1) { %> active <% } %>" onclick="switchNav(1)">
		<span class="f2">活动奖品</span>
	</div>
	<div id="nav-2" class="tab inline-block tc w-33 border-right-line border-bottom-line <% if(index == 2) { %> active <% } %>" onclick="switchNav(2)">
		<span class="f2">活动规则</span>
	</div>
	<div id="nav-3" class="tab inline-block tc w-33 border-bottom-line <% if(index == 3) { %> active <% } %>" onclick="switchNav(3)">
		<span class="f2">隐私条款</span>
	</div>
</div>
<div class="rule-wrap">
	<div class="none <% if(index == 1) { %> block <% } %>" id="content-1">
		<h3>活动奖品</h3>
		<p>	
			<p>现金红包（最高999元）</p>
			<p>领取后将发放至小树时代理财账户，可直接提现。</p>
			<p>小树理财券（最高888元）</p>
			<p>领取后将发放至小树时代理财账户，单笔投资1000元以上且投资3个月以上期限标方可使用。
发财树若干</p>
			<p>集齐5张小树券可联系客服兑换发财树盆栽，每人限兑换1棵；小树券可转让。</p>
		</p>
	</div>
	<div class="none <% if(index == 2) { %> block <% } %>" id="content-2">
		<h3>活动规则</h3>
		<p>	
			<p>1.活动时间：3.10-3.12</p>
			<p>2.参与活动即可领取小树苗1棵，种下后结出果实，浇水则果实长大成熟。</p>
			<p>3.每日最多能长出5个果实，每个果实成熟所需的浇水次数不同：</p>
			<p class="f1">
				果实1浇水1次成熟<br>
				果实2浇水2次成熟<br>
				果实3浇水4次成熟<br>
				果实4浇水5次成熟<br>
				果实5浇水10次成熟。
			</p>
			<p>4.当日长出的果实必须当日采摘，每晚24：00更新数据，未采摘果实将清零。次日重新长出果实1、2、3……</p>
			<p>5、每日自动获得1次浇水次数，想要更多次数可邀请好友赠送。</p>
			<p>6、可给无数好友赠送浇水次数，但每日只能给同一个好友赠送1次。</p>
			<p>7、转发分享可额外获得1次浇水次数，每日仅限1次。</p>
			<p>8、浇水机会每晚24：00清零，未使用则作废。</p>
			<p>9、若发现浇水次数等数据未及时更新，刷新页面即可正常显示。</p>
			<p></p>
			<div>
				<p>举个栗子！</p>
				<p>小明种下一棵树，获得1次浇水次数，浇水后树上长出果实1，点击果实获得礼品。此时浇水次数为0。他将活动转发到朋友圈，又获得了1次浇水次数，浇下长出果实2。小红从朋友圈看到后进入活动，赠送他1次浇水次数，小明又浇水，果实2也成熟了……</p>
			</div>
			<p></p>
			<div class="tc">
				<p>…… 扫一扫关注“小树时代理财”公众号可从公众号再次进入活动~</p>
				<img class="w50" src="/public/img/qrcode.gif">
			</div>
		</p>
	</div>
	<div class="none <% if(index == 3) { %> block <% } %>" id="content-3">
		<h3>隐私条款</h3>
		<p>	
			<p>本网站及APP将对用户的个人隐私进行严格保密，承诺未经本人同意不将个人信息随意披露。</p>
			<ul>
				<li>* 为保证您的交易顺利完成，我们不得不把您的某些信息，如姓名、电话、e-mail等提供给相关第三方，如物流公司，以便于他们及时与您取得联系，提供服务；</li>
				<li>* 当您在本网站的行为违反服务条款，或可能损害他人权益、导致他人遭受损害，我们为了进行辨识、联络或采取法律行动等必要行动，将不得不披露您的信息；</li>
				<li>* 法律法规所规定的必须披露或公开的个人信息，我们也将依法披露；</li>
				<li>* 当司法机关或其它有权机关依法执行公务，要求提供特定个人资料时，我们必须给予必要的配合。</li>
			</ul>
		</p>
	</div>
</div>
<script type="text/javascript">
	function switchNav(index) {
		//window.location.href="/rule/" + index;
		$('#nav-' + index).addClass('active').siblings().removeClass('active');
		$('#content-' + index).addClass('block').siblings().removeClass('block');
	}
</script>